# Slave Project Configuration
# Project: Flouee Data Shared

SLAVE_PROJECT_ID=ffzufnwxvqngglsapqrf
SLAVE_URL=https://ffzufnwxvqngglsapqrf.supabase.co
SLAVE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZmenVmbnd4dnFuZ2dsc2FwcXJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAyOTgzMjUsImV4cCI6MjA3NTg3NDMyNX0.jtWyQfdhh3B5y9fYStOral6uy3xaa1IOw50LkkQ41k4
SLAVE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZmenVmbnd4dnFuZ2dsc2FwcXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDI5ODMyNSwiZXhwIjoyMDc1ODc0MzI1fQ.wdKTM3hJHDe5rKQGCjDGlZP8E1zdQCfY1cSmmr3y7gw
SLAVE_DB_PASSWORD=K@k!1991@@

# JWT Secret (MUST be same as Master)
SLAVE_JWT_SECRET=1F+kEiHxrDumHPaEoDyA9qXsMQowEHsSnUvkMxaNMmivStQnncd78kzKw2aUNboshDv/COSEv1+8qHmVCLJypg==







